@import "./common.css";

body {
    font-size: 1.6rem;
    background-image: url("../img/images/mc_landing_banner.png");
    background-position: top;
    background-repeat: no-repeat;
    height: 100dvh;
    /* background-size: cover; */
}

#order-type {
    background-color: white;
    text-align: center;
    border-radius: 15px;
    padding: 2rem;

    button {
        border: 5px solid yellow;
        margin: 1rem;
        padding: 3rem 5rem;
        width: 250px;
        height: 200px;

        a {
            text-decoration: inherit;
            color: inherit;
        }

        figure {
            height: 75%;

            figcaption {
                font-size: 20px;
            }
        }

        &:hover {
            border-color: #BD0017;
        }
    }
}

.marginY {
    margin: 3rem 0;
}

@media (orientation: landscape) {
    .flexLandscape {
        display: flex;
        justify-content: center;
    }
}

