@import './common.scss';

#order-type {
    background-color: white;
    text-align: center;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 2px 2px 10px 1px black;

    button {
        border: 5px solid yellow;
        margin: 1rem;
        padding: 0.5rem;

        a {
            text-decoration: inherit;
            color: inherit;
        }

        figure {
            height: 75%;

            figcaption {
                font-size: 20px;
            }
        }

        &:hover {
            border-color: #BD0017;
        }
    }
}

.marginY {
    margin: 3rem 0;
}